@model ASMMAIN.Models.User


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<section class="signup_main">

    <form asp-area="manage" asp-controller="User" asp-action="Create" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]"
        role="form" class="signup_controls">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="control">
            <input required asp-for="FullName" type="text" placeholder=" " class="control_input">
            <label asp-for="FullName" class="control_label"></label>
            <span asp-validation-for="FullName" class="control_error-label"></span>
        </div>
        <div class="control">
            <input required asp-for="UserName" type="text" placeholder=" " class="control_input">
            <label asp-for="UserName" class="control_label"></label>
            <span asp-validation-for="UserName" class="control_error-label"></span>
        </div>
           <div class="control">
            <input required name="password" required type="text" placeholder=" " class="control_input">
            <label class="control_label">Password</label>
            <span  class="control_error-label"></span>
        </div>
        <div class="control">
            <input asp-for="Email" type="text" placeholder=" " class="control_input">
            <label asp-for="Email" class="control_label"></label>
            <span asp-validation-for="Email" class="control_error-label"></span>
        </div>
        <div class="control form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model =>
                model.EmailConfirmed)
            </label>
        </div>
        <div class="control">
            <input asp-for="PhoneNumber" type="text" placeholder=" " class="control_input">
            <label asp-for="PhoneNumber" class="control_label"></label>
            <span asp-validation-for="PhoneNumber" class="control_error-label"></span>
        </div>
           <div class="control form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model =>
                model.PhoneNumberConfirmed)
            </label>
        </div>

        @* <div class="control">
            <input asp-for="Password" type="password" placeholder=" " class="control_input">
            <label asp-for="Password" class="control_label"></label>
            <span asp-validation-for="Password" class="control_error-label"></span>
            </div>
            <div class="control">
            <input asp-for="ConfirmPassword" type="password" placeholder=" " class="control_input">
            <label asp-for="ConfirmPassword" class="control_label"></label>
            <span asp-validation-for="ConfirmPassword" class="control_error-label"></span>
            </div> *@
        <div class="control">
            @await Html.PartialAsync("_AlertTemp")
        </div>
        <div class="control">
            <button type="submit" class="btn btn--blue-light btn--size-l">Đăng Ký</button>
        </div>
    </form>
</section>


<div>
    <a asp-action="Index">Back to List</a>
</div>
