@model ASMMAIN.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text--danger"></div>
          
            <div class="control">
                <input asp-for="FullName" class="control_input" />
                <label asp-for="FullName" class="control_label"></label>
                <span asp-validation-for="FullName" class="text--danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="control">
                <input asp-for="UserName" class="control_input" />
                <label asp-for="UserName" class="control_label"></label>
                <span asp-validation-for="UserName" class="text--danger"></span>
            </div>
              <div class="control">
                <input asp-for="HomeAddress" class="control_input" />
                <label asp-for="HomeAddress" class="control_label"></label>
                <span asp-validation-for="HomeAddress" class="text--danger"></span>
            </div>
            <div class="control">
                <input asp-for="Email" class="control_input" />
                <label asp-for="Email" class="control_label"></label>
                <span asp-validation-for="Email" class="text--danger"></span>
            </div>

            <div class="control form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                </label>
            </div>
     
            <div class="control">
                <input asp-for="PhoneNumber" class="control_input" />
                <label asp-for="PhoneNumber" class="control_label"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="control form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </label>
            </div>
      
            <div class="control">
                <input type="submit" value="Save" class="btn btn--primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

