

<style>
    .denied{

    margin: 20px auto;
    
    width: 1000px;
    height: 500px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.fa-solid{

}
.fa-user-slash{

}
.denied_icon-main{
    font-size: 500px;
    margin-left: 50px;
    color: #ff7870;
}

.denied_content-title{
    font-size: 3rem;
    line-height: 3rem;
}
.denied_content-desc{
    font-size: 1.2rem;
    line-height: 2rem;
}

.btn a { 
    text-decoration: none;
    color: var(--white-color);
    font-size: 2rem;
}
</style>


<div class="denied"> 

    <div class="denied_icon">
        <i class="fa-solid fa-user-slash denied_icon-main"></i>
    </div>

    <div class="denied_content">
       <h2 class="denied_content-title">KHÔNG ĐƯỢC PHÉP TRUY CẬP !</h2>
       <p class="denied_content-desc">Hình như bạn đã truy cập vào một chức năng mà bạn không đủ quyền để truy cập vui lòng đăng nhập tài khoản với chức vụ tương ứng</p>
        <button class="btn btn--blue-dark"><a href="/">Trang chủ</a></button>
    </div>
    
</div>