@{
    ViewData["Title"] = "ConfirmEmail";
}

<style>

    .box { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box_title { 
        font-size: 3rem;
        color: var(--secondary);
    }

    .box_desc{ 
        font-size: 1.4rem;
    }

</style>


<div class="grid">
    <div class="grid_row box">

        <h1 class="box_title">Xác thực email thành công</h1>
        <p class="box_desc">Cảm ơn bạn đã đăng ký tại shop lego mời bạn sử dụng dịch vụ chúng tôi.</p>
        <img class="image" src="/images/emailsuccess.png" alt="" style="width: 800px;">


    </div>
</div>