@{
    ViewData["Title"] = "Xác thực email";
}

<style>

    .box { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box_title { 
        font-size: 3rem;
        color: var(--secondary);
    }

    .box_desc{ 
        font-size: 1.4rem;
    }

</style>


<div class="grid">
    <div class="grid_row box">

        <h1 class="box_title">Xác thực email để hoàn tất</h1>
        <p class="box_desc">Cảm ơn bạn đã đăng ký tại shop lego. Chúng tối đã gửi cho bạn 1 email đính kèm link xác nhận vui lòng tiến hành kiểm tra email để hoàn tất.</p>
        <img class="image" src="/images/emailchecker.png" alt="" style="width: 800px;">


    </div>
</div>